services:
  db:
    image: postgres:17
    environment:
      POSTGRES_DB: ${POSTGRES_NAME}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
     - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env

  django-web:
    build: .
    container_name: django-docker
    depends_on:
      - db
    volumes:
      - .:/app
    env_file:
      - .env
    ports:
      - "8000:8000"  

    environment:
     DJANGO_SECRET_KEY: ${SECRET_KEY}
     DEBUG: ${DEBUG}
     DATABASE_NAME: ${POSTGRES_NAME}
     DATABASE_USERNAME: ${POSTGRES_USER}
 
     DATABASE_PASSWORD: ${POSTGRES_PASSWORD}
     DATABASE_HOST: ${POSTGRES_HOST}
     DATABASE_PORT: ${POSTGRES_PORT}  

volumes:
   postgres_data:
